.productList{
    flex: 4;
}

.productlistitem{
    display: flex;
    align-items: center;
}

.productlistimg{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    margin-right: 10px;
}

.productListEdit{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-right: 30px;
}

.useraction{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productlistdelet{
    color: red;
    cursor: pointer;
    
}